# --- Directories ---
venv_pp/*
__pycache__/
node_modules

**/data/*
**/mesh_data/*
**/results/*
**/build/*
**/gtest/*

# --- File types ---
*.tar
*.tar.gz
*.zip
*.code-workspace
*.DS_Store
*.sublime*
*.json
*.png
*.txt
*.dat
*.csv
*.pyc
*.idea
*.vti
*.cache
*.py.orig
