# --- Directories ---
venv_pp/*
__pycache__/
node_modules

**/data/*
**/mesh_data/*
**/results/*

# --- File types ---
*.code-workspace
*.DS_Store
*.sublime*
*.json
*.png
*.txt
*.pyc
*.idea
*.vti
*.cache
*.py.orig
